# dependencies
node_modules/

# build
dist/

# n8n
n8n-test-instance/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.github/workflows/
